[submodule "ctxwl-resource"]
	path = resources
	url = https://sherwoodwang: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@github.com/learn-english-the-right-way/ctxwl-resource.git
